@model List<MicroLend.DAL.Entities.Loan>
@{
    Layout = "_Layout";
}
<div class="container py-4">
    <h2>My Loans</h2>
    <table class="table table-striped">
        <thead><tr><th>Id</th><th>Purpose</th><th>Amount</th><th>Current</th><th>Status</th></tr></thead>
        <tbody>
        @foreach(var l in Model) {
            <tr>
                <td>@l.Id</td>
                <td>@l.Purpose</td>
                <td>@l.Amount</td>
                <td>@l.CurrentAmount</td>
                <td>@l.Status</td>
            </tr>
        }
        </tbody>
    </table>
</div>
